# minecraft
CREDITS-fml.txt
forge-*-changelog.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
config/
crash-reports/
logs/
options.txt
saves/
banned-ips.txt
banned-players.txt
ops.txt
screenshots/
server.properties
white-list.txt
world/
*~
src/main/java/com/panicnot42/warpbook/workbench.xmi

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs
